body {
  font-family: "Verdana", sans-serif;
  background-color: black;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

.cta {
  color: aquamarine;
  font-size: 16px
}

h2 {
  font-weight: 300;
  font-size: 42px
}

footer {
  text-align: right;
}

#description {
  font-size: 21px;
}


h1,
h2 {
  color: white;
}

footer,
#description {
    color: gray;
}
